*{
margin:0%;
padding:0%;
box-sizing:border-box;
font-family:"Poppins", serif;;
}
html,body{
height:100%;
width:100%;
}
#head{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
    position: relative;
    background-size: cover;
   background-position: center;
}
.nav{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
}

.logo{
    height: 60px;
    width: 230px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-size: large;
    /* background-color: aqua; */
}
.logo i{
    color: red;
    font-size: 40px;
    margin-right: 7px;
}

.logo h3{
    color: white;
}

.nav-content{
    /* background-color: aqua; */
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
}
.nav-content a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.nav-content a::after{
     content: '';
     width: 0%;
     height: 2px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: all 0.5s;
}

.nav-content a:hover::after{
       width: 100%;
}

.main{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.main h1{
    font-size: 62px;
}
.main p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.main a{
    display: inline-block;
    color: white;
    border: solid 1px white;
    padding: 12px 34px;
    font: 13px;
    background:transparent ;
    position: relative;
    cursor: pointer;
}
.main a:hover{
    background-color: #f44336;
    color: black;
    border: solid 1px black;
    transition: 1s;
}

.course{
    height: 100%;
    width: 100%;
}

.we{
    /* background-color: antiquewhite; */
    height: 25%;
    text-align: center;
    padding-top:100px ;
}
.we h1{
    font-size: 36px;
    font-weight: 600;
}
.we span{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.course-contan{
    height: 45%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.om1{
    width: 50%;
    height: 45%;
}
.inter{
    /* border: solid 1px black; */
    margin: 30px;
    padding: 23px;
    border-radius: 8px;
    background-color: #fff3f3;
    text-align: center;
}
.inter h3{
    text-align: center;
    padding-bottom: 30px;
}
.inter p{
    font-size: 16px;
    font-weight: 300;
}
.global{
    height: 30%;
    /* background-color: aqua; */
    text-align: center;
    padding-top: 80px ;
}
.global h1{
    font-size: 36px;
    font-weight: 600;
}
.global p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.campus{
    height: 70%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-evenly;
}
.image{
    height:100%;
    width: 35%;
    border-radius: 10px;
    width: 30%;
    position: relative;
    /* background-color: aqua; */
    /* border: solid 2px black; */
}

#img1{
    background-image: url(london.png);
    background-position: center;
    background-size: cover;
}

#img2{
    background-image: url(newyork.png);
    background-position: center;
    background-size: cover;
}

#img3{
    background-image: url(washington.png);
    background-position: center;
    background-size: cover;
}
.facilities{
    height: 100%;
    width: 100%;
}

.facilit{
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}
.om{
    width: 6%;
    height: 70%;
}
.library{
    /* border: solid 1px black; */
    height: 75%;
    width: 25%;
}
.lon{
    text-align: center;
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 1s;
}
.lon:hover{
    background-color: rgba(226,0,0,0.7);
}
.image1{
    background-image: url(library.png);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    height: 80%;

}
.image2{
    background-image: url(basketball.png);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    height: 80%;

}
.image3{
    background-image: url(cafeteria.png);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    height: 80%;

}
.library h3{
    padding:15px 0;
    font-size: 23px;
}
.library p{
    font-size: 14px;
}
.student{
    height: 60%;
    /* background-color: antiquewhite; */
}
.global1{
    height: 40%;
    /* background-color: aqua; */
    /* align-items: center; */
    text-align: center;
    padding: 80px;
}
.global1 h1{
    font-size: 36px;
    font-weight: 600;
}
.global1 p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.revew{
    height: 60%;
    /* background-color: aliceblue; */
    display: flex;
    padding-left: 200px;
    padding-top: 50px;
    /* justify-content: space-around; */
}
.first{
    width: 40%;
    height: 80%;
    /* border: solid black 1px; */
    background-color: #fff3f3;
    border-radius: 10px;
    margin-left: 60px;
    display: flex;
    padding: 20px;
}
.ima{
    height: 100%;
    width: 40%;
    /* background-color: #f44336; */
}

.ima div{
    height: 50%;
    width: 90%;
    background-image: url(user1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}


.aboutt p{
    font-size: 14px;
    padding:15px 5px;
}

/* =---------------------last---------- */

.last{
    margin: 100px auto;
    width: 80%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),url(banner2.jpg));
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}
